<h1 class="margin-top-cabecalho">Cadastrar Nova Despesa</h1>
<hr>
<form novalidate="novalidate" [formGroup]="mobileForm" (ngSubmit)="enviarMobile()">
    <div class="row">
        <div class="form-group col-4">
            <label for="model" class="control-label">model</label>
            <div>
                <input type="text" class="form-control" formControlName="model">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-4">
            <label for="price" class="control-label">price</label>
            <div>
                <input type="number" class="form-control" formControlName="price">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-4">
            <label for="brand" class="control-label">brand</label>
            <div>
                <input type="text" class="form-control" formControlName="brand">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-4">
            <label for="photo" class="control-label">photo</label>
            <div>
                <input type="text" class="form-control" formControlName="photo">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-4">
            <label for="date" class="control-label">date</label>
            <div>
                <input type="text" class="form-control" formControlName="date">
            </div>
        </div>
    </div>
    
    <div class="row mt-1">
        <div class="form-group col-2">
            <input type="submit" value="Cadastrar" class="btn btn-primary form-control">
        </div>
        <div class="form-group col-1">
            <a class="btn btn-info form-control" [routerLink]="['/mobile']">Voltar</a>
        </div>
    </div>
</form>
