<div class="container main-container">  
    <h1>Mobile</h1>
    <hr>

    <p>
        <a class="btn btn-info" [routerLink]="['/mobile/cadastrar']">Novo Mobile</a>
    </p>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Model</th>
                <th>Brand</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mobile of mobiles">
                <td> {{ mobile.model }} </td>
                <td> {{ mobile.brand }} </td>
                <td>
                    <a class="btn btn-info" [routerLink]="['/mobile/editar',mobile.code]">
                        <span class="fa fa-pencil-alt"></span>
                    </a>&nbsp;
                    <a class="btn btn-danger" (click)="deleteMobile(mobile)">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
